
services:
    lmsusers_1:
        image: vitorcosta30/odsoft_1170623_1201391:${DOCKER_TAG}
        container_name: users1_in_lms_network
        environment:
            SPRING_PROFILES_ACTIVE: instance1,bootstrap
        networks:
            - lms_network

        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
            interval: 30s
            timeout: 5s
            retries: 3
            start_period: 10s

    lmsusers_2:
        image: vitorcosta30/odsoft_1170623_1201391:${DOCKER_TAG}
        container_name: users2_in_lms_network
        environment:
            SPRING_PROFILES_ACTIVE: instance2,bootstrap
        networks:
            - lms_network

        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
            interval: 30s
            timeout: 5s
            retries: 3
            start_period: 10s


    lmsusers_lb:
        build: ./nginx
        container_name: lmsusers_lb
        ports:
            - "8880:80"
        networks:
            - lms_network


networks:
    lms_network:
        external: true

